!!! XML
!!!
%html
  %head
    %title Radio
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }
    %link{ :href => "/css/bootstrap.css", :rel => "stylesheet", :media => "screen" }
    %link{ :href => "/css/bootstrap-responsive.css", :rel => "stylesheet", :media => "screen" }
    %link{ :href => "/css/style.css", :rel => "stylesheet", :media => "screen" }
  %body
    %div{ :class => ['navbar', 'navbar-inverse', 'navbar-fixed-top'], :style => 'position:relative;margin-bottom:20px;' }
      .navbar-inner
        .container-fluid
          %a.brand{ :href => '#' } Radio
          %a{ :class => ['btn', 'btn-inverse', 'pull-right'], :href => "/logout" }
            %i.icon-off{ :class => 'icon-white' }
          %span{ :class => ['navbar-text', 'pull-right'], :style => 'margin-right:5px;' } #{user.name}
          %ul.nav
            %li{ :class => cur == 'list' ? 'active' : '' } 
              %a{ :href => '/devices/list' } Home
            %li{ :class => cur == 'pair' ? 'active' : '' } 
              %a{ :href => '/devices/pair' } Pair
    .container-fluid
      .row-fluid
        .span9
          = yield
        .span3
          %div{ :class => ['well', 'sidebar-nav'] }
            %ul{ :class => ['nav', 'sidebar-nav'] }
              %li.nav-header 
                #{user.name} devices
              - devices.each do |d|
                %li{ :class => did.to_s == d[:id] ? 'active' : '' }
                  %a{ :href => "/devices/show/#{d[:id]}" } #{d[:id]}
